.textContent {
  padding: 0 30px;
  padding-bottom: 30px;
  margin-top: 100px;
}

.imgContainer {
  width: 100vw;
}

.skullImg {
  max-width: 240px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.h1 {
  font-weight: 800;
}

.h1 span {
  background: -webkit-linear-gradient(red, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  box-shadow: 0 0 5px 1px darkred;
  background-color: transparent;
  border-radius: 20px;
  padding: 10px;
  font-weight: 600;
  margin: 8px;
}

.button:hover {
  box-shadow: 0 0 5px 3px darkred;
}

.choices .button {
  margin: 6px;
}

.about {
  color: black;
  text-decoration: none;
}

.categoryText {
  font-weight: 500;
}

.extremeText {
  font-weight: 800;
  background: -webkit-linear-gradient(red, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
}

/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 960px) {
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    flex-direction: row;
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .imgContainer {
    display: flex;
    justify-content: center;
  }

  .textContent {
    flex: 1;
  }

  .imgContainer {
    flex: 1;
  }

  .skullImg {
    max-width: 300px;
  }
}
