.dot {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    -webkit-animation:ToRed 16s 
}

  @keyframes ToRed {
    0% {background-color: green;}
    50% {background-color: goldenrod;}
    80% {background-color: crimson;}
    100% {background-color: darkred;}
}