.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;
  padding: 0px 30px;
  height: 61px;
}
.navLogo {
  background: -webkit-linear-gradient(black, black);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  text-decoration: none;
}

.about {
  color: black;
  text-decoration: none;
}
