body {
  font-family: Inter, Helvetica, Apple Color Emoji, Segoe UI Emoji,
    NotoColorEmoji, Noto Color Emoji, Segoe UI Symbol, Android Emoji,
    EmojiSymbols, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Noto Sans, sans-serif;
}

img {
  max-inline-size: 100%;
  display: block;
  object-fit: cover;
}
