/* Global Styles */

* {
  box-sizing: border-box ;
  margin: 0;
  padding: 0;
}

body, 
html {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  /* prevents bottom of website from being hidden behind mobile Safari’s menu bar. */
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  max-width: 100%;
  display: block;
  /* Prevents images from being inline with other elements  */
}
